body {
	font-family: Baskerville, Garamond, sans-serif;
	margin: 0;
	background: #aca1a1;
}

.clearfix {
	content: " ";
	clear: both;
}

nav {
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
}

.brand {
	font-family: 'loveloblack', serif;
}
.brand span {
	color: orange;
}
nav.top {
	top: 0;
}
nav.bottom {
	background: #000;
	bottom: 0;
}

nav > div {
	max-width: 90%;
	padding: 5px 15px;
	margin: 11px auto;
}

nav a {
	font-family: 'loveloblack', serif;
	color: #f7efed;
	text-transform: uppercase;
	text-decoration: none;
}

nav.top a {
	display: inline-block;
	margin: 10px;
	font-size: 20px;
}

nav.bottom a{
	display: block;
	float: left;
	min-width: 15%;
	text-align: center;
	line-height: 22px;
	font-size: 15px;
	margin: 0 0.83%;
	transition: all ease-in 0.3s;
	padding-bottom: 5px;
	border-bottom: 2px solid #000;
}
nav.bottom a:hover, nav.bottom a.active {
	color: #a1d3f7;
	border-bottom: 2px solid #a1d3f7;
}

#main video.full {
	width: 100%;
}

body.full-video, .gallery-item {
	overflow: hidden;
}

body.faq {
	padding-top: 50px;
}
#main .video-overlay:before {
	position: fixed;
	display: block;
	content: "";
	top: 0;	
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
}

.overlay-content {
	position: absolute;
	display: block;
	content: "";
	top: 0;	
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	z-index: 1;
	margin: auto;
	width: 70%;
	height: 600px;
}

.overlay-content h1{
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'loveloblack', serif;
	margin-top: 15px;
}

.overlay-content p {
	font-size: 23px;
	text-align: justify;
}

.video-caption {
	position: absolute;
	margin: auto;
	height: 60px;
	width: 1000px;
	text-align: center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	color: white;
	letter-spacing: 10px;
}

.video-caption h1{
	text-transform: uppercase;
	margin-top: 0;
}


.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
  margin: 0;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.gallery-item {
	background: #777;
}

.gallery-item img.landscape {
	width: 100%;
}

.gallery-item img.portrait {
	height: 100%;
	display: block;
	margin: 0 auto;
}

.media {
	list-style: none;
	text-align: center;
	padding: 0;
}
.media li {
	display: inline-block;
}

.media.videos li {
	width: 23%;
	margin: 10px;
	height: 250px;
}

.media.videos li iframe,
.media.audio li audio,
.media.audio li img,
#map iframe {
	width: 100%;
}

.media.videos li iframe {
	height: 100%;
}

.media.audio li {
	width: 15%;
	margin: 5px;
}

.media-page #main {
	padding-top: 40px;
}

.Accordion {
	font-family: Helvetica, serif;
	border-left: solid 0 gray;
	border-right: solid 0 black;
	border-bottom: solid 0 gray;
	overflow: hidden;
}

.AccordionPanel {
	margin: 0;
	padding: 0;
}

.AccordionPanelTab {
	border: 0;
	margin: 0;
	cursor: pointer;
	color: #fff;
	-moz-user-select: none;
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
	padding: 13px;
	transition: all ease-in 0.5s;
}

.AccordionPanelContent {
	overflow: auto;
	margin: 0;
	padding: 20px;
	background: #f7efed;
	text-align: center;
	font-family: Garamond, sans-serif;
	font-size: 22px;
	min-height: 100px !important;
	height: auto;
	display: block !important;
	box-sizing: border-box;
	transition: all ease-in 0.5s;
}
.AccordionPanelClosed .AccordionPanelContent  {
	min-height: 0 !important;
	height: 0 !important;
	transition: all ease-in 0.5s;
	padding: 0;
}
.AccordionPanelOpen .AccordionPanelTab {
	background-color: #69656f;
}

.AccordionPanelTabHover {
	color: #fff;
	background-color: #69656f;

}
.AccordionPanelOpen .AccordionPanelTabHover {
	color: #fff;
}

.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background-color: #FFF;
}

.faq-title {
	text-transform: uppercase;
	font-family: Helvetica, serif;
	text-align: center;
	color: white;
}
#map {
	margin-top: 45px;
}
#map iframe {
	height: 100%;
}

#contact-details {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 13;

}
#contact-details h3{
	font-family: Helvetica, serif;
	font-size: 18px;
	margin: 12px;
	color: #fff;
	font-weight: normal;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
}
#contact-details h3 a {
	text-decoration: none;
	color: #fff;
	transition: all ease-in 0.3s;
}
#contact-details h3 a:hover {
	color: orange;
}

@media print {

  .Accordion {
  overflow: visible !important;
  }
  
  .AccordionPanelContent {
  display: block !important;
  overflow: visible !important;
  height: auto !important;
  }
}

@media(min-width: 1367px) {
	.gallery-item img.landscape {
		margin-top: -60px;
	}
	.media-page #main, body.faq {
		padding-top: 60px;
	}
}

@media(min-width: 1500px) {
	.gallery-item img.landscape {
		margin-top: -80px;
	}

	.media-page #main, body.faq {
		padding-top: 80px;
	}


}